 body {background-color: #FFF380;
 
 }
 h1 { font-family: verdana; 
 }
    p { color: white}

    ul {list-style-type: none;
        margin: 0; 
        padding: 0;
        overflow: hidden;
        background-color:#FFF8C6; }


    li { float: left; 
     font-family: verdana; 
      }
    li a { display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: verdana;
            }

   a:hover:not(.active){ background-color: #FFDB58; 
    }
  
    .active {background-color: #FDCB5A;
      }

     #hellothere { font-family: monospace;
                    font-size: 40 px
     }
    
    #aboutme {font-family:helvetica; }
